# =========================
# Java / Maven
# =========================
backend/target/
*.class

# =========================
# Node.js
# =========================
frontend/node_modules/
frontend/dist/
frontend/build/

# =========================
# IDE Files
# =========================
.vscode/
.idea/
*.iml

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# OS Files
# =========================
Thumbs.db
.DS_Store